* {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  vertical-align: baseline;
}

#container {
  min-height: 100vh;
  width: 100vw;
  background-color: hsl(185deg, 41%, 84%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

header h1 {
  width: 6rem;
  overflow-wrap: break-word;
  color: hsl(183deg, 100%, 15%);
  font-size: 1.5rem;
}

main {
  background: hsl(0deg, 0%, 100%);
  border-radius: 1.5rem;
  width: 23.4375rem;
}

main form {
  width: 100%;
  padding: 2rem;
  display: grid;
  gap: 1.5rem;
}

#leftSide, #rightSide {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

#rightSide {
  background-color: hsl(183deg, 100%, 15%);
  border-radius: 1rem;
  padding: 2.5rem 1.5rem;
}

.titles {
  display: flex;
  justify-content: space-between;
}

.lines {
  margin-bottom: 1.5rem;
}

.mTitles {
  margin-bottom: 0.5rem;
  color: hsl(186deg, 14%, 43%);
  font-size: 1.1rem;
}

.image-container {
  padding: 0.5rem;
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-container {
  height: 3.125rem;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: hsl(180deg, 33%, 97%);
}

.outlineOne:hover {
  outline: 3px solid #26c0ab;
}

input[type=number] {
  width: 100%;
  border: none;
  background: none;
  text-align: right;
  padding: 0 1rem;
  font-size: 1.5rem;
  color: hsl(183deg, 100%, 15%);
  cursor: pointer;
}

input[type=number]:focus {
  outline: none;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: hsl(184deg, 14%, 56%);
}

.button-container {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 1.5rem;
}

.tipButton, input[type=reset] {
  height: 3.125rem;
  font-size: 1.5rem;
  border: none;
  background-color: hsl(183deg, 100%, 15%);
  color: hsl(0deg, 0%, 100%);
  border-radius: 0.4rem;
  cursor: pointer;
}

.tipButton:hover {
  color: hsl(183deg, 100%, 15%);
  background: #26c0ab;
}

#resetBtn {
  background-color: #26c0ab;
  color: hsl(183deg, 100%, 15%);
  opacity: 80%;
}

#resetBtn:active {
  opacity: 100%;
}

#custonButton {
  background-color: hsl(180deg, 33%, 97%);
  border-radius: 0.5rem;
}

.hiden {
  display: none;
}

.resultTitle {
  color: hsl(0deg, 0%, 100%);
}

.small {
  opacity: 50%;
  color: hsl(0deg, 0%, 100%);
}

#tipResult, #totalResult {
  color: #26c0ab;
  font-size: 2.5rem;
}

#error {
  color: red;
}

.errorOutline {
  outline: 3px solid red;
}

.active {
  background-color: #26c0ab;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

@media (min-width: 768px) {
  header {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  main {
    width: 48rem;
    height: auto;
  }
  main form {
    grid-template-columns: repeat(1, 1fr 1fr);
  }
  .button-container {
    grid-template-columns: repeat(3, 2fr);
    gap: 0.8rem;
  }
  .lines {
    margin-bottom: 1rem;
  }
  .input-container {
    height: 40px;
  }
  input[type=button], input[type=reset], input[type=number] {
    height: 2.5rem;
    font-size: 1.2rem;
  }
  .resultTitle {
    font-size: 0.9rem;
  }
  .small {
    font-size: 0.7rem;
  }
  .mTitles {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
