@import url("https://fonts.google.com/specimen/Red+Hat+Display");

:root {
  /* Primary */

  --Pale-blue: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);

  /* Neutral */

  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);
  --White: hsl(0, 0%, 100%);

  /** transition color */
  --dark-violet: rgba(129, 44, 204, 0.815);

  --border-radius: 15px;

  --box-shadow: var(--Pale-blue) 1px 25px 20px 1.5px;

  --width: 400px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-image: url(../images/pattern-background-desktop.svg);
  background-color: var(--Pale-blue);
  background-size: contain;
  background-repeat: no-repeat;
  color: var(--Dark-blue);
  font-family: "Red Hat Display", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.container {
  width: var(--width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  box-shadow: var(--box-shadow);
}
.top-container {
  overflow: hidden;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  animation-name: container;
}
.top-container > img {
  margin-bottom: -5px;
  width: 100%;
}

.btm-container {
  background-color: var(--White);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  padding: 40px;
}
h1 {
  font-size: 25px;
  text-align: center;
  font-weight: 900;
}

p {
  color: var(--Desaturated-blue);
  line-height: 1.5em;
  font-size: 16px;
  font-weight: 300;
  padding: 15px;
  text-align: center;
}
ul.plan {
  display: flex;
  flex-direction: row;
  padding: 15px 0px;
  background-color: var(--Very-pale-blue);
  border-radius: var(--border-radius);
  justify-content: space-around;
  align-items: center;
  margin: 0 5px;
  list-style-type: none;
  overflow: hidden;
}
ul > li.img {
  background-image: url(../images/icon-music.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 40px;
  width: 50px;
}
ul > li > section {
  list-style-type: none;
  overflow: hidden;
  margin: 0 20px 0px -35px;
  line-height: 1.5;
}
ul > li > section > li.type {
  color: var(--Dark-blue);
  font-weight: 900;
  letter-spacing: -1px;
}
ul > li > section > li.price {
  font-size: 14px;
  color: var(--Desaturated-blue);
}

li > a.change {
  color: var(--Bright-blue);
  font-size: 10px;
  font-weight: 900;
}

li > a.change:hover {
  color: var(--dark-violet);
  text-decoration: none;
}
a.btn {
  color: var(--White);
  display: block;
  font-weight: 700;
  margin: 25px 5px 30px;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  background-color: var(--Bright-blue);
  text-decoration: none;
  box-shadow: var(--box-shadow);
}

a.btn:hover {
  background-color: var(--dark-violet);
  color: var(--White);
}
a.cancel {
  color: var(--Desaturated-blue);
  display: block;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
}

a.cancel:hover {
  color: var(--Dark-blue);
}

.top-container > img,
a.attribution .change,
.btn,
.cancel {
  transition: all 0.5s ease !important;
}
.container:hover > .top-container > img {
  transform: scale(1.2);
  filter: brightness(1.1);
  z-index: -1;
}
.attribution {
  font-size: 11px;
  text-align: center;
  position: relative;
  top: 30px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

@media screen and (max-width: 660px) {
  body {
    background-color: var(--Pale-blue);
    background-image: none;
  }
  .container {
    width: 350px;
    margin: auto;
  }
}
