main {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url("../assets/desktop/bg-image-daytime.jpg");
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

.dark-mode {
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
    url("../assets/desktop/bg-image-nighttime.jpg");

}

@media (max-width: 1024px) {
  main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
      url("../assets/tablet/bg-image-daytime.jpg");
  }
  .dark-mode {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
      url("../assets/tablet/bg-image-nighttime.jpg");
  }
}

@media (max-width: 576px) {
  main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
      url("../assets/mobile/bg-image-daytime.jpg");
  }
  .dark-mode {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
      url("../assets/mobile/bg-image-nighttime.jpg");
  }
}