.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
  max-width: 57.5rem;
  height: 43vh;
  padding-top: 5.6rem;
  margin: 0 16.5rem;
}

.quote-container {
  display: flex;
  align-items: center;
}

.quote {
  font-size: 1.8rem;
  width: 54rem;
  color: #fff;
  -webkit-text-stroke: 1px #000;
}

.icon {
  padding-bottom: 2.4rem;
  padding-left: 1rem;
  cursor: pointer;
}

.author {
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
  -webkit-text-stroke: 1px #000;
}

.display-none {
  display: none;
}

.dark-mode {
  -webkit-text-stroke: unset;
}

@media (max-width: 1024px) {
  .container {
    margin: 0 6.4rem;
  }
  .quote {
    -webkit-text-stroke: unset;
  }
  .author {
    -webkit-text-stroke: unset;
  }
}

@media (max-width: 576px) {
  .container {
    height: 38vh;
    margin: 0 2.6rem;
  }
  .quote {
    font-size: 1.2rem;
  }
  .author {
    font-size: 1.2rem;
  }
}
